<div class="container my-4">
  <h2>Grupos</h2>
  <div class="filters-container">
    <!-- Grupo -->
    <div class="filter-item">
      <label for="grupoFilter">Grupo:</label>
      <select
        id="grupoFilter"
        [(ngModel)]="selectedFilters.grupo"
        (change)="applyFilters()"
        class="animate-on-load"
      >
        <option value="">Todos los grupos</option>
        <option *ngFor="let grupo of filterOptions.grupos" [value]="grupo">
          {{ grupo }}
        </option>
      </select>
    </div>

    <!-- Especialidad -->
    <div class="filter-item">
      <label for="especialidadFilter">Especialidad:</label>
      <select
        id="especialidadFilter"
        [(ngModel)]="selectedFilters.especialidad"
        (change)="applyFilters()"
        class="animate-on-load"
      >
        <option value="">Todas las especialidades</option>
        <option
          *ngFor="let especialidad of filterOptions.especialidades"
          [value]="especialidad"
        >
          {{ especialidad }}
        </option>
      </select>
    </div>

    <!-- Semestre -->
    <div class="filter-item">
      <label for="semestreFilter">Semestre:</label>
      <select
        id="semestreFilter"
        [(ngModel)]="selectedFilters.semestre"
        (change)="applyFilters()"
        class="animate-on-load"
      >
        <option value="">Todos los semestres</option>
        <option
          *ngFor="let semestre of filterOptions.semestres"
          [value]="semestre"
        >
          {{ semestre }}
        </option>
      </select>
    </div>

    <div class="filter-item">
      <button class="refresh-btn animate-on-load" (click)="resetFilters()">
        <i class="bx bx-refresh"></i>
      </button>
    </div>
  </div>

  <div class="classes-grid">
    <div class="class-card" *ngFor="let grupo of gruposDisplay">
      <div class="card-content">
        <div class="card-header">
          <h3>{{ grupo }}</h3>
        </div>
        <div class="card-actions">
          <button class="action-btn upload" (click)="onUpload(grupo)">
            <i class="bx bx-upload"></i>
          </button>
          <button class="action-btn edit" (click)="onEdit(grupo)">
            <i class="bx bx-edit"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
