<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Project</title>
    <link rel="style" href="app.component.css" />
    <title>ADAE</title>
  </head>

  <body>
    <header>
      <nav>
        <a [routerLink] = "['/main']" class="ADAE-logo-header">ADAE</a>
      </nav>
    </header>

    <div class="mt-5">
      <router-outlet></router-outlet>
    </div>

    <footer>
      <div class="footer-div">
        <nav>
          <a href="" class="privacy-policy">Politica de privacidad</a>
        </nav>
        <div class="sep"></div>
        <nav>
          <a href="" class="terms-and-condition">Terminos y condiciones</a>
        </nav>
      </div>
      <div class="footer-div">
        Copyright © 2024 ADAE. Todos los derechos reservados.
      </div>
    </footer>
  </body>
</html>
