<div class="sub_container_1">
  <h3 id="user_name_dashboard">Hello, {{ sesion._usuario }} {{ sesion._apellido }}</h3>
  <p id="rol_user_dashboard">{{ sesion._rol }}</p>
</div>

<div class="container mt-4">
  <div class="row">
    <!-- Contenedor de perfil -->
    <div class="col-md-3">
      <div class="card" (click)="navigateToProfile()">
        <div class="card-body text-center">
          <img
            [src]="sesion._foto"
            width="150"
            height="150"
            class="profile-pic rounded-circle"
          />
          <h5 class="card-title">{{ sesion._usuario }} {{ sesion._apellido }}</h5>
          <p class="card-text">{{ sesion._rol }}</p>
        </div>
      </div>
    </div>
    
    <!-- Contenedor dinámico para alumnos -->
    <div class="col-md-8" *ngIf="sesion._rol === 'Alumno'">
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">Clases</h5>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-4">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">Horario</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
