@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.clases {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
  margin-bottom: 15px;
  height: 124px;
}

.card-header h3 {
  margin: 0;
  color: #007bff;
}

.card-body h4 {
  margin-top: 0;
  margin-bottom: 20px;
}

.card-body ul {
  padding-left: 20px;
}

.card-body li {
  margin-bottom: 10px;
}

.btn-addclass {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
}

.btn-addclass:hover {
  transform: scale(1.15);
  background-color: #454444;
}

.btn-addclass i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.asignacion {
  color: rgb(43, 169, 232);
}

.entrega {
  color: rgb(175, 26, 26);
}

small i {
  margin-left: 12px;
}

.Opciones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 258px;
}

.class-option {
  border: none;
  display: flex;
  color: white;
  background-color: #333;
  margin-inline: 10px;
  border-radius: 50%;
  width: 35px;
  aspect-ratio: 1;
  transition-duration: 0.2s;
  align-items: center;
  justify-content: center;
}

.class-option i{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.class-option:hover {
  transform: scale(1.2);
}
