<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <main id="main">
      <div id="Box-Principal">
        <div id="cerrar_ventana">
          <a href="/login">
            <i class="bx bx-minus"></i>
          </a>
        </div>
        <h5>
          Escanea el código QR <br />
          desde tu dispositivo móvil
        </h5>
      </div>
    </main>

    <div class="mt-5">
    </div>
  </body>
</html>
