<div class="file-explorer">
  <div class="main-folder" *ngFor="let folder of folders">
    <h2>{{ folder.name }}</h2>
    <div class="subfolder-actions">
      <button (click)="addSubfolder(folder)">Agregar subcarpeta</button>
    </div>
    <div class="subfolders">
      <!-- Usa el componente Folder para cada subcarpeta -->
      <app-folder
        *ngFor="let sub of folder.subfolders"
        [folder]="sub"
        (fileUploaded)="onFileUploaded(sub, $event)"
      ></app-folder>
    </div>
  </div>
</div>
