<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Clases</h2>
  </div>

  <div class="classes-grid">
    <div
      class="class-card"
      *ngFor="let clase of clases"
      (click)="goToClassSelect(clase.id_clase)"
    >
      <div class="card-content">
        <div class="card-header">
          <h3>{{ clase.nombre_clase }}</h3>
          <p class="professor">
            <i class="bx bxs-user"></i>
            {{ clase.profesor_nombre }}
          </p>
        </div>

        <div class="tasks-section">
          <h4>Tareas</h4>
          <div
            class="tasks-container"
            *ngIf="clase.tareas.length; else noTareas"
          >
            <div
              class="task-item"
              *ngFor="let tarea of clase.tareas; let i = index"
            >
              <div
                class="task-header"
                (click)="toggleDescripcion(clase.id_clase, i)"
              >
                <h5>{{ tarea.titulo }}</h5>
                <div class="task-dates">
                  <span class="date">
                    <i class="fi fi-ss-calendar asignacion"></i>
                    {{ tarea.fecha_asignacion | date : "dd/MM/yyyy" }}
                  </span>
                  <span class="date">
                    <i class="fi fi-ss-calendar entrega"></i>
                    {{ tarea.fecha_entrega | date : "dd/MM/yyyy" }}
                  </span>
                </div>
              </div>
              <p
                class="task-description"
                *ngIf="isDescripcionVisible(clase.id_clase, i)"
              >
                {{ tarea.descripcion }}
              </p>
            </div>
          </div>
          <ng-template #noTareas>
            <p class="no-tasks">No hay tareas asignadas a esta clase.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
