<div class="container">
    <div class="container-header">
      <h2>Clases</h2>
    </div>
  
    <div class="clases">
      <div class="card" *ngFor="let clase of clases" (click)="goToClassSelect(clase.id_clase)">
        <div class="card-header">
          <h3>{{ clase.nombre_clase }}</h3>
          <p><strong>Profesor:</strong> {{ clase.profesor_nombre }}</p>
        </div>
        <div class="card-body">
          <h4>Tareas</h4>
          <div *ngIf="clase.tareas.length; else noTareas">
            <ul>
              <li *ngFor="let tarea of clase.tareas; let i = index">
                <div (click)="toggleDescripcion(clase.id_clase, i)" style="cursor: pointer;">
                  <strong>{{ tarea.titulo }}</strong>
                  <br />
                  <small>
                    <i class="fi fi-ss-calendar student-ico asignacion"></i> {{ tarea.fecha_asignacion | date: 'dd/MM/yyyy' }}
                    <br>
                    <i class="fi fi-ss-calendar student-ico entrega"></i> {{ tarea.fecha_entrega | date: 'dd/MM/yyyy' }}
                  </small>
                </div>
                <p *ngIf="isDescripcionVisible(clase.id_clase, i)" class="tarea-descripcion">
                  {{ tarea.descripcion }}
                </p>
              </li>
            </ul>
          </div>
          <ng-template #noTareas>
            <p>No hay tareas asignadas a esta clase.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  