<div class="container">
    <h2>Entregar Tarea</h2>
    <form [formGroup]="entregarTareaForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="form-group">
        <label for="id_tarea">ID de la Tarea:</label>
        <input
          type="number"
          id="id_tarea"
          class="form-control"
          formControlName="id_tarea"
          required
          placeholder="Ingrese el ID de la tarea"
        />
      </div>
  
      <div class="form-group">
        <label for="id_alumno">ID del Alumno:</label>
        <input
          type="number"
          id="id_alumno"
          class="form-control"
          formControlName="id_alumno"
          required
          placeholder="Ingrese el ID del alumno"
        />
      </div>
  
      <div class="form-group">
        <label for="archivo">Archivo (PDF):</label>
        <input
          type="file"
          id="archivo"
          class="form-control"
          (change)="onFileSelect($event)"
          required
          accept=".pdf"
        />
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="!entregarTareaForm.valid || !archivoSeleccionado">
        Enviar Tarea
      </button>
    </form>
  </div>
  