<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>
<body>
  <main id="main">
    <form id="sign-in" (ngSubmit)="onLogin()"> <!-- Usa ngSubmit para manejar el formulario -->
      <p>Inicio de sesión</p>
      <div class="input-container">
        
        <input type="email" id="email" [(ngModel)]="username" name="email" placeholder="correo institucional" required />
        <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="contraseña" required />
        <label>
          <input type="checkbox" id="check" /> Recordar inicio
        </label>

        <div class="links">
          <a [routerLink]="['/QRPage']">Iniciar sesión por QR</a>
        </div>

        <!-- Mueve la lógica de envío al div con clase login -->
        <div class="login" (click)="onLogin()"> <!-- Añadimos click para enviar el formulario -->
          <a>
            <i class="bx bx-right-arrow-circle"></i>
          </a>
        </div>
      </div>
    </form>
  </main>

  <div class="mt-5">
    <router-outlet></router-outlet>
  </div>
</body>
</html>
