<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <main id="main">
      <form id="sign-in" (ngSubmit)="onLogin()" #loginForm="ngForm">
        <p>Inicio de sesión</p>
        <div class="input-container">
          <!-- Campo de correo -->
          <input
            type="email"
            id="email"
            [(ngModel)]="username"
            name="email"
            placeholder="correo institucional"
            required
            class="form-control"
          />
          <div *ngIf="errorMessage && !username" class="text-danger">
            El correo institucional es obligatorio.
          </div>

          <!-- Campo de contraseña -->
          <input
            type="password"
            id="password"
            [(ngModel)]="password"
            name="password"
            placeholder="contraseña"
            required
            class="form-control"
          />

          <!-- Checkbox de "Recordar inicio" -->
          <label> <input type="checkbox" id="check" /> Recordar inicio </label>

          <!-- Enlace para iniciar sesión por QR -->
          <div class="links">
            <a [routerLink]="['/QRPage']">Iniciar sesión por QR</a>
          </div>

          <!-- Botón de acción (ícono de flecha) -->
          <div class="login d-flex justify-content-center mt-4">
            <a (click)="onLogin()">
              <i
                class="bx bx-right-arrow-circle"
                [ngClass]="{ 'cursor-pointer': password.length > 0 }"
                style="font-size: 2rem"
              ></i>
            </a>
          </div>
        </div>
      </form>
    </main>

    <!-- Espacio para el contenido dinámico del router -->
    <div class="mt-5">
      <router-outlet></router-outlet>
    </div>
  </body>
</html>
