.container {
    background-color: #f8f9fa;
    /* Fondo claro */
}

.card {
    border-radius: 25px;
    width: 30%; /* Ancho por defecto */
    max-width: 400px; /* Ancho máximo */
    min-width: 400px; /* Ancho mínimo para mantener la tarjeta en un tamaño razonable */
    height: auto; /* Permite que la altura se ajuste automáticamente */
}

/* Asegúrate de que la tarjeta no se ajuste a tamaños más pequeños */
@media (max-width: 768px) {
    .card {
        width: 80%; /* O el porcentaje que prefieras para pantallas más pequeñas */
        max-width: 400px; /* Ancho máximo */
    min-width: 300px; /* Ancho mínimo para mantener la tarjeta en un tamaño razonable */
    }
}
