
  <body>
    <div class="midpage">
      <main>
        <div class="heading center-1">
          <h1>ADO</h1>
        </div>

        <div class="sign-in center-1" center-1>
          <button [routerLink]="['/login']" id="sign-in-btn">
            <a>Iniciar sesión</a>
          </button>
        </div>

        <div class="intro center-1">
          <p id="intro-text">
            ADO siempre primera, te da las gracias y te desea un feliz y confortable viaje.
          </p>
        </div>

        <div class="box">
          <div class="box-1">
            <h2 id="box-1-heading">Que es ADAE?</h2>
            <p class="box-1-txt">
              ADAE es una plataforma de gestion educativa, pensado para alumnos
              y prefesores los cuales cuenten con un entorno de trabajo
              eficiente y personalizado
            </p>
          </div>

          <div class="box-2">
            <h2 class="box-2-heading">Consultas</h2>
            <p class="box-2-txt">Proximamente...</p>
          </div>
        </div>
      </main>
    </div>
  </body>

  <footer>
    <div class="footer-div">
      <nav>
        <a [routerLink]="['/politica-privacidad']" class="privacy-policy">Política de privacidad</a>
      </nav>
      <div class="sep"></div>
      <nav>
        <a [routerLink]="['/terminos-condiciones']" class="terms-and-condition">Términos y condiciones</a>
      </nav>
      <div class="sep"></div>
      <nav>
        <a [routerLink]="['/sobre-nosotros']" class="terms-and-condition">Sobre nosotros</a>
      </nav>
    </div>
    <div class="footer-div2">
      Copyright © 2024 ADAE. Todos los derechos reservados.
    </div>
  </footer>