<!-- main-dashboard.component.html -->
<section class="layout">
  <nav class="sidebar" *ngIf="showSidebar">
    <header class="sidebar_header"></header>
    <div class="sidebar_menu">
      <ul *ngIf="menuItems[sesion._rol]">
        <li *ngFor="let item of menuItems[sesion._rol]">
          <a [routerLink]="item.path">
            <i class="{{ item.icon }} px-3"></i>
            {{ item.label }}
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="main_container">
    <router-outlet></router-outlet>
  </div>
</section>
