<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Layout</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="sidebar_header">
        <h5>ADAE</h5>
      </div>
      <div class="sidebar_menu">
        <ul>
          <li>
            <a routerLink="/dashboard" routerLinkActive="active"
              ><span class="highlight"></span>Home</a
            >
          </li>
          <li>
            <a routerLink="/insights" routerLinkActive="active"
              ><span class="highlight"></span>Biblioteca</a
            >
          </li>
          <li>
            <a routerLink="/reports" routerLinkActive="active"
              ><span class="highlight"></span>Horario</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="main_container">
      <div class="sub_container_1">
        <h3 id="user_name_dashboard">Hello, Josh</h3>
        <p id="rol_user_dashboard">administrador</p>
      </div>
    </div>

    <div class="mt-5">
      <router-outlet></router-outlet>
    </div>
  </body>
</html>
