.alumnos-listado {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.alumno-card {
  display: flex;
  align-items: center;
  background-color: #3e3e3e; /* Fondo oscuro */
  color: white; /* Texto en color blanco */
  border-radius: 20px; /* Bordes redondeados */

  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.algo{
  display: flex;
  align-items: center;
  margin: 15px;
  width: 90%;
}

.alumno-foto {
  width: 60px;
  height: 60px;
  border-radius: 50%; /* Imagen circular */
  object-fit: cover;
  margin-right: 15px;
}

.alumno-info {
  flex-grow: 1;

}

.alumno-info h5 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.alumno-info p {
  margin: 0;
  font-size: 0.9rem;
  color: #c2c2c2;
}

.alumno-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b2b2b; /* Fondo oscuro para el icono */
  border-radius: 0 20px 20px 0;
  height: 100%;
  width: 15%;
}

.alumno-actions .icon {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.Search {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h2 {
  text-align: center;
  font-weight: bold;
}

.filters {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
}

.filters select {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  min-width: 150px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.filters select:focus {
  border-color: #007bff;
  outline: none;
}
