@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

/* Estructura general */
.container {
  padding: 0;
  margin: 0;
}

.student-list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-weight: bold;
}

.search-bar {
  margin: 1rem 0;
}

/* Filtros */
.filters select {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #2b2b2b;
  color: white;
  min-width: 9.375rem;
  cursor: pointer;
  height: 50px;
}

.filters select:focus {
  border-color: #007bff;
  outline: none;
}

.filters.largescreen-filters {
  display: flex;
  align-items: center;
  gap: 15px;
}

.large-screen-filters {
  display: none;
  align-items: center;
  gap: 15px;
}

.large-screen-filters.show {
  display: flex;
}

.filters-larges-container {
  margin-block: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.small-screen-filters {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.small-screen-filters select {
  margin-left: 15px;
}

/* Estilo del botón de filtro */
.filter-toggle {
  margin-inline-end: 0.5rem;
  border-radius: 10px;
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 50px;
  aspect-ratio: 1;
  background-color: #2b2b2b;
  border: none;
}

.filter-toggle i {
  height: 24px;
  color: white;
  aspect-ratio: 1;
}

/* Modal de filtros */
.modal-filters {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

.modal-filters.show {
  display: block;
}

.modal-filters .close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Estilo de las tarjetas de estudiante */
.students-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

/* Ajustes para la tarjeta del estudiante */
.student-card {
  position: relative; /* Necesario para posicionar .options-dropdown */
  display: flex;
  align-items: stretch;
  background-color: #3e3e3e;
  color: white;
  border-radius: 1.25rem;
  width: 80%;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  
}

.student-card:hover {
  transform: scale(1.05);
}

.student-info {
  display: flex;
  align-items: center;
  margin: 1rem;
  width: 90%;
}

.student-photo {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.info h5 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.info p {
  margin: 0;
  font-size: 0.9rem;
  color: #c2c2c2;
}

.student-group {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b2b2b;
  border-radius: 0 1.25rem 1.25rem 0;
  width: 15%;
}

.group-icon {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

/* Botón de turno */
.turno-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b2b2b;
  color: #ffffff;
  padding: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  margin-inline-start: 15px;
  transition: background-color 0.3s;
  width: 50px;
  aspect-ratio: 1;
}

.turno-toggle:hover {
  background-color: #404040;
}

.turno-toggle i {
  font-size: 1.2rem;
  height: 20px;
  aspect-ratio: 1;
}

/* Gota de opciones */
.options-dropdown {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  background-color: #2b2b2b;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition-duration: 0.4s;
}

.options-dropdown i {
  color: white;
  width: 15px;
  height: 20px;

}

/* Muestra la gota de opciones al hacer hover en la tarjeta */
.student-card:hover .options-dropdown {
  opacity: 1;
  transform: translateX(80px) translateY(-50%);
}

/* Gota de opciones */
.options-dropdown {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  background-color: #2b2b2b;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.4s, transform 0.4s;
}

.options-dropdown i {
  color: white;
  width: 15px;
  height: 20px;
}

/* Estilo del menú de opciones */
.options-dropdown .options-menu {
  position: absolute;
  top: -40px;          /* Mueve el menú hacia abajo en relación con el botón */
  right: -50px;       /* Mueve el menú hacia la izquierda en relación con el botón */
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 5px 10px;
  width: max-content;
  list-style: none;
  margin: 0;
}

.options-dropdown .options-menu li {
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.options-dropdown .options-menu li:hover {
  background-color: #404040;
  border-radius: 5px;
}



/* Medios de comunicación */
@media (max-width: 768px) {
  .large-screen-filters {
    display: none;
  }

  .modal-filters {
    display: none;
  }

  .container {
    max-width: 767px;
  }

  .info h5 {
    font-size: 0.8rem;
  }

  .info p {
    font-size: 0.7rem;
  }

  .student-card {
    width: 95%;
  }

  .small-screen-filters select {
    margin-left: 15px;
  }
}

@media (min-width: 769px) {
  .modal-filters {
    display: none;
  }
}
