/* You can add global styles to this file, and also import other style files */
#sign-in-btn{
    font-family: 'Ubuntu', sans-serif;
    padding: .5rem 2.5rem;
    border: none;
    border-radius: 50px;
    background-color: rgb(2, 2, 2);
    color: white;
    font-size: 1.4rem;
    margin: 30px 0;
    cursor: pointer;
    transition: .1s ease;


}

#sign-in-btn:hover{
    background-color: rgb(46, 46, 46);
}

/* Ocultar barra de desplazamiento en navegadores basados en WebKit */
body::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
}

/* Ocultar barra de desplazamiento en Firefox */
body {
    scrollbar-width: none; /* Oculta la barra de desplazamiento */
}

/* Asegura que el contenido siga siendo desplazable */
body {
    overflow-y: scroll; /* Mantiene el desplazamiento vertical */
}

/* Estilos para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento vertical */
    height: 12px; /* Altura de la barra de desplazamiento horizontal */
  }
  
  ::-webkit-scrollbar-track {
    background: #e8e8e8; /* Color de fondo del track de desplazamiento */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #232323; /* Color del control deslizante */
    border: none; /* Espacio alrededor del control deslizante */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #393939; /* Color al pasar el cursor por encima del control */
  }
  
