html, body {
    margin: 0;
    padding: 0;
    height: 50%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #fbfbfd;
    display: flex;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFadeIn {
    0% {
        width: 0; /* Comienza con 0 de ancho */
        opacity: 0; /* Comienza completamente transparente */
    }
    100% {
        width: 5px; /* Ancho final de la barra */
        opacity: 1; /* Totalmente visible */
    }
}

/* Sidebar ocupa una parte fija del ancho de la pantalla */
.sidebar {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Menú lateral */
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    position: relative; /* Necesario para el pseudo-elemento */
}

/* Barra negra al lado izquierdo del ícono activo */
.sidebar ul li.active::before {
    content: '';
    position: absolute;
    right: 215px; /* Ajusta para que esté al lado del ícono */
    top: 50%; /* Centramos verticalmente */
    height: 70%; /* Ajustamos la altura de la barra */
    background-color: black;
    transform: translateY(-50%); /* Centro vertical */
    animation: slideFadeIn 0.6s ease forwards; /* Animación de deslizamiento y desvanecimiento */
}

/* Modificar el padding de los iconos */
.sidebar ul li span.icon {
    margin-right: 10px; /* Espacio entre icono y texto */
}

/* Estilo del elemento de cierre de sesión */
.sidebar ul li.logout {
    padding-top: 380px;
    color: red;
}

/* Contenido principal */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: white;
    animation: fadeIn 1.5s ease forwards;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

/* Encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.streak {
    font-size: 16px;
    color: #333;
}

.streak span {
    font-size: 20px;
    margin-right: 10px;
}

/* Sección de perfil */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 400px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: #ccc;
}

.info {
    text-align: center;
}

.info p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

.info a {
    color: #007bff;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}

/* Estilos para la sección de seguridad */
.security-settings p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}

.auth-methods {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.method {
    background-color: #f2f2f7;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 900px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.method-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.method-header h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.method p {
    font-size: 14px;
    color: #666;
}

/* Switch de encendido y apagado */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    border-radius: 50%;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #7d9ec4;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.account-info {
    margin-top: 30px;
    background-color: #fbfbfd;
    padding: 20px;
    border-radius: 10px;
    width: 900px;
    box-shadow: 2px 0 10px rgba(0, 0, 1, 0.1);
}

.account-info h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.account-info p {
    font-size: 16px;
    color: #333;
}

.edit-icon {
    cursor: pointer;
    margin-left: 5px;
    color: #007bff;
}