<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <aside class="sidebar" [ngClass]="{ active: sidebarActive }">
      <ul>
        <li
          routerLink="/Profile_User"
          routerLinkActive="active"
          (click)="setActiveMenu('perfil')"
        >
          <span class="icon"><i class="bx bxs-user"></i></span> mi perfil
        </li>
        <li
          routerLink="/segurity_user"
          routerLinkActive="active"
          (click)="setActiveMenu('seguridad')"
        >
          <span class="icon"><i class="bx bxs-shield"></i></span> seguridad
        </li>
        <li
          routerLink="/notifications_user"
          routerLinkActive="active"
          (click)="setActiveMenu('notificaciones')"
        >
          <span class="icon"><i class="bx bxs-bell"></i></span> notificaciones
        </li>
        <li
          routerLink="/connected_devices_user"
          routerLinkActive="active"
          (click)="setActiveMenu('dispositivos')"
        >
          <span class="icon"><i class="bx bx-laptop"></i></span> dispositivos
          conectados
        </li>
        <li class="logout" (click)="setActiveMenu('logout')">
          <span class="icon">❌</span> Cerrar sesión
        </li>
      </ul>
    </aside>

    <section class="main-content" [ngClass]="{ blurred: sidebarActive }">
      <div class="header">
        <h2>Seguridad</h2>
        <div class="streak"></div>
        <div id="menuBtn" (click)="toggleSidebar()">
          <i class="bx bx-menu"></i>
          <!-- Icono de tres rayas -->
        </div>
      </div>
      <div class="security-settings">
        <p>
          En ADAE estamos conscientes de que la seguridad es un tema importante
          <br />
          y por defecto al crear una nueva cuenta en esta plataforma el
          <br />método de seguridad por defecto son códigos por correo, pero
          <br />
          puedes agregar más opciones de seguridad.
        </p>
        <div class="auth-methods">
          <div class="method">
            <div class="method-header">
              <h3>Aplicación de autenticación</h3>
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider round"></span>
              </label>
            </div>
            <p>
              Descarga una aplicación en tu teléfono para generar códigos de
              seguridad únicos. Las aplicaciones sugeridas incluyen Google
              Authenticator.
            </p>
          </div>

          <div class="method">
            <div class="method-header">
              <h3>Correo (por defecto)</h3>
              <label class="switch">
                <input type="checkbox" />
                <span class="slider round"></span>
              </label>
            </div>
            <p>
              Por defecto se le enviará un correo a su correo institucional para
              verificar su identidad y las próximas veces que inicie sesión en
              un dispositivo nuevo se le enviará un código de verificación ahí.
            </p>
          </div>
        </div>
      </div>

      <div class="account-info">
        <h3>Información de la cuenta</h3>
        <p>
          <strong>Correo electrónico:</strong> alm.joshefsrubiocbtis66.edu.mx
        </p>
        <p>
          <strong>Contraseña:</strong> ********
          <span class="edit-icon">✏️</span>
        </p>
      </div>
    </section>

    <div class="mt-5">
      <router-outlet></router-outlet>
    </div>

    <script src="user-segurity.component.ts"></script>
  </body>
</html>
