.Profile {
  background-color: #3e3e3e;
  height: 300px;
  border-radius: 20px;
  align-items: center;
  /* Alinea la imagen y el texto verticalmente */
  padding: 20px;
  /* Añade un poco de espacio interno */
  margin-top: 24px;
  margin-bottom: 24px;
  overflow: hidden;
  /* Evita que el efecto hover de los li salga del borde redondeado */
  flex-direction: row;
  display: flex;

}

.Notifications {
  background-color: #3e3e3e;
  height: 300px;
  border-radius: 20px;
  padding: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
  overflow: hidden;
  /* Evita que el efecto hover de los li salga del borde redondeado */

}

.widgets {
  background-color: #3e3e3e;
  height: 624px;
  border-radius: 20px;
  padding: 20px;
  margin-top: 24px;
  margin-bottom: 24px;
  overflow: hidden;
  /* Evita que el efecto hover de los li salga del borde redondeado */
  position: relative;

}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Cambia de right a left para mover la barra al lado izquierdo */
  width: 45px;
  /* Ancho de la barra */
  height: 100%;
  /* Altura de la barra */
  background-color: #333;
  /* Color de la barra */
}

.widgets::before {
  content: "";
  position: absolute;
  bottom: 0;
  /* Coloca la barra en la parte inferior */
  left: 0;
  width: 100%;
  /* Ancho de la barra para que ocupe todo el div */
  height: 45px;
  /* Altura de la barra */
  background-color: #333;
  /* Color de la barra */
}

.profile-pic {
  margin-left: 45px;
  margin-right: 25px;
  
  width: 150px;
   height:150px;
}

.InfoProfile{
  flex-direction: column;
  color: white;
}

.container {}

/*Datos Alumnos*/

.alumno-info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  gap: 0.5rem; /* Espacio entre los elementos */
  padding: 1rem;
}

.alumno-info-grid p {
  margin: 0;
  padding: 0.5rem;
  background-color: #333;
  border-radius: 10px;
}
