.container {
  margin-top: 20px;
}

.profile-card {
  padding: 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  animation: fadeIn 0.5s ease-in-out;
}

.profile-pic {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  animation: scaleIn 0.5s ease-in-out;
}

.profile-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.icon-copy {
  color: #777;
  cursor: pointer;
}

.icon-copy:hover {
  color: #333;
}

.attendance-card {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  animation: fadeIn 0.5s ease-in-out;
}

.attendance-title {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.attendance-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #28a745;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #28a745;
  transition: transform 0.3s;
}

.attendance-circle:hover {
  transform: scale(1.1);
}

.attendance-emoji i {
  font-size: 2rem;
  color: #28a745;
}

.attendance-percentage {
  font-size: 1.5rem;
  color: #28a745;
}

.bx-copy {
  transition: transform 0.2s ease, color 0.2s ease;
}

.bx-copy.copied {
  color: #4caf50; /* Cambia el color a verde para indicar éxito */
  transform: scale(1.2); /* Agranda el icono ligeramente */
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from { transform: scale(0); }
  to { transform: scale(1); }
}
