<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <aside class="sidebar" [ngClass]="{ active: sidebarActive }">
      <ul>
        <li
          routerLink="/Profile_User"
          routerLinkActive="active"
          (click)="setActiveMenu('perfil')"
        >
          <span class="icon"><i class="bx bxs-user"></i></span> mi perfil
        </li>
        <li
          routerLink="/segurity_user"
          routerLinkActive="active"
          (click)="setActiveMenu('seguridad')"
        >
          <span class="icon"><i class="bx bxs-shield"></i></span> seguridad
        </li>
        <li
          routerLink="/notifications_user"
          routerLinkActive="active"
          (click)="setActiveMenu('notificaciones')"
        >
          <span class="icon"><i class="bx bxs-bell"></i></span> notificaciones
        </li>
        <li
          routerLink="/connected_devices_user"
          routerLinkActive="active"
          (click)="setActiveMenu('dispositivos')"
        >
          <span class="icon"><i class="bx bx-laptop"></i></span> dispositivos
          conectados
        </li>
        <li class="logout" (click)="setActiveMenu('logout')">
          <span class="icon">❌</span> Cerrar sesión
        </li>
      </ul>
    </aside>

    <section class="main-content" [ngClass]="{ blurred: sidebarActive }">
      <div class="header">
        <h2>Dispositivos Conectados</h2>
        <div class="streak"></div>
        <div id="menuBtn" (click)="toggleSidebar()">
          <i class="bx bx-menu"></i>
          <!-- Icono de tres rayas -->
        </div>
      </div>
    </section>

    <div class="mt-5">
      <router-outlet></router-outlet>
    </div>

    <script src="user-notifications-page.component.ts"></script>
  </body>
</html>
