<section class="layout">
  <nav class="sidebar">
    <header class="sidebar_header">
      <!-- Encabezado del sidebar -->
    </header>
    <div class="sidebar_menu">
      <ul *ngIf="menuItems[sesion._rol]">
        <li *ngFor="let item of menuItems[sesion._rol]">
          <a [routerLink]="item.path">
            <i class="{{ item.icon }} px-3"></i> <!-- Utiliza la clase del ícono -->
            {{ item.label }}
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="main_container">
    <router-outlet></router-outlet> <!-- Aquí se cargarán los componentes hijos -->
  </div>
</section>
