<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <aside class="sidebar" [ngClass]="{ active: sidebarActive }">
      <ul>
        <li
          routerLink="/Profile_User"
          routerLinkActive="active"
          (click)="setActiveMenu('perfil')"
        >
          <span class="icon"><i class="bx bxs-user"></i></span> mi perfil
        </li>
        <li
          routerLink="/segurity_user"
          routerLinkActive="active"
          (click)="setActiveMenu('seguridad')"
        >
          <span class="icon"><i class="bx bxs-shield"></i></span> seguridad
        </li>
        <li
          routerLink="/notifications_user"
          routerLinkActive="active"
          (click)="setActiveMenu('notificaciones')"
        >
          <span class="icon"><i class="bx bxs-bell"></i></span> notificaciones
        </li>
        <li
          routerLink="/connected_devices_user"
          routerLinkActive="active"
          (click)="setActiveMenu('dispositivos')"
        >
          <span class="icon"><i class="bx bx-laptop"></i></span> dispositivos
          conectados
        </li>
        <li class="logout" (click)="setActiveMenu('logout')">
          <span class="icon">❌</span> Cerrar sesión
        </li>
      </ul>
    </aside>

    <section class="main-content" [ngClass]="{ blurred: sidebarActive }">
      <div class="header">
        <h2>Notificaciones</h2>
        <div class="streak"></div>
        <div id="menuBtn" (click)="toggleSidebar()">
          <i class="bx bx-menu"></i>
          <!-- Icono de tres rayas -->
        </div>
      </div>

      <!-- Sección de Notificaciones -->
      <div class="notifications-container">
        <p>Personaliza las notificaciones a tu gusto</p>

        <div class="notification-item">
          <div class="method-header">
            <h3>Notificaciones de eventos</h3>
            <p>
              Un evento nuevo en tu escuela, recibir la notificación con todas
              las noticias y movimientos que se llevarán a cabo
            </p>
            <label class="switch">
              <input type="checkbox" checked />
              <span class="slider round"></span>
            </label>
          </div>
        </div>

        <div class="notification-item">
          <div class="method-header">
            <h3>Notificaciones de pase de lista</h3>
            <p>
              Se enviará una notificación cuando el maestro esté pasando lista,
              esta opción sirve por si vas llegando tarde
            </p>
            <label class="switch">
              <input type="checkbox" checked />
              <span class="slider round"></span>
            </label>
          </div>
        </div>

        <div class="notification-item">
          <div class="method-header">
            <h3>Notificaciones de tus clases</h3>
            <p>
              Se enviará notificaciones de alguna actividad o modificación de
              tus clases registradas en la aplicación
            </p>
            <label class="switch">
              <input type="checkbox" checked />
              <span class="slider round"></span>
            </label>
          </div>
        </div>

        <div class="notification-item">
          <div class="method-header">
            <h3>Notificaciones de tu racha</h3>
            <p>
              Se enviará una notificación de cuando hayas alcanzado cierto
              tiempo de racha o también si pierdes esa misma racha
            </p>
            <label class="switch">
              <input type="checkbox" />
              <span class="slider round"></span>
            </label>
          </div>
        </div>
      </div>
    </section>

    <div class="mt-5">
      <router-outlet></router-outlet>
    </div>

    <script src="user-notifications-page.component.ts"></script>
  </body>
</html>
